header {
    position: relative;
    min-height: 100vh;

    .header-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-height: 100vh;
        transform: translateY(40px);
    animation: headerAnim 1.5s forwards;

    @keyframes headerAnim {
      to {
        transform: translateY(0);
        opacity: 1;
      }
    }
        h1 {
            text-transform: uppercase;
            font-family: $font1;
            letter-spacing: 5px;
            color: $color1;
            font-size: 4rem;
            padding: 25px;
        }
        p {
            margin: 40px auto 60px;
            color: $color1;
            font-style: italic;
            font-size: 1.4rem;
        }
        #navlink {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.2rem;
            width: 60px;
            height: 60px;
            border: 2px solid $color1;
            border-radius: 50%;
            text-decoration: none;
            &:visited {
                color: $color1;
            }
        }
    }
}

@media screen and (max-width: 1340px) {
    header {
        .header-content {
            p {
                font-size: 1.15rem;
            }
        }
    }
    
}
@media screen and (max-width: 1000px) {
    header {
        .header-content {
            h1 {
                font-size: 3.5rem;
            }
            p {
                font-size: 1rem;
            }
        }
    }
    
}