main {
    display: grid;
    grid-template-rows: 95px 95px 90px 1fr 90px ;
    height: 145vh;
    width: 100%;
    justify-items: center;
    background: url("../img/bg-menu-01.jpg"), rgb(33,32,30);
    background-repeat: no-repeat, no-repeat;
    background-position: bottom, top;

    .italic {
        text-align: center;
        color: $gold1;
        font-family: $font1;
        font-weight: normal;
        font-size: 2.5rem;
        height: 30px;
        align-self: end;
        &::first-letter {
            text-transform: uppercase;
        }
    }
    span {
        align-self: end;
        img {
            height: 35px;
        }
    }
    .menu {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        justify-items: center;
        align-items: center;
        width: 55%;
        @media screen and (max-width: 600px) {
            width: 40%;
            font-size: 0.65rem;
        }
        @media screen and (max-width: 800px) {
            width: 45%;
            font-size: 0.8rem;
        }
        li {
            font-family: $font3;
            position: relative;
            text-align: center;
            &::first-letter {
                text-transform: uppercase;
            }
            &:after {
                content: "";
                position: absolute;
                bottom: -2px;
                left: 0;
                height: 2px;
                width: 0%;
                background: $gold1;
                transition: 0.5s ease-in-out;
            }
            &:hover:after {
                width: 100%;
            }
            a {
                transition: 0.5s;

            &:hover {
                color: $gold1;
            }
            }
        }
    }
    .dishmenu-container {
        user-select: none;
        background: $white1;
        width: 55%;
        border: 2px solid $black1;
        border-radius: 3px;
        .dishmenu {
            overflow: hidden;
            display: grid;
            grid-template-rows: repeat(4, 1fr);
            height: 100%;
            border-top: 4px solid $gold1;
            padding: 10px;
            .dishline {
                display: grid;
                grid-template-columns: 50% 50%;
                .dishcard {
                    display: grid;
                    justify-items: center;
                    align-items: center;
                    grid-template-columns: 33% 50% 17%;
                    margin: 15px;
                    border-bottom: 1px dashed $gold1;
                    transition: 0.8s ease-in-out;
                    @media screen and (max-width: 630px) {
                        display: block;
                        text-align: center;
                    }
                    img {
                        border-radius: 50%;
                        @media  screen and (max-width: 1268px) {
                            width: 70%;

                        }
                    }
                    .title {
                        color: $black1;
                        font-family: $font2;
                        font-size: 0.73rem;
                        letter-spacing: 2px;
                        text-transform: uppercase;
                        margin-bottom: 10px;
                        @media screen and (max-width: 510px) {
                            font-size: 0.25rem;
                        }
                        @media screen and (max-width: 600px) {
                            font-size: 0.35rem;
                        }
                        @media screen and (max-width: 800px) {
                            font-size: 0.55rem;
                        }
                    }
                    p {
                        font-family: $font3;
                        color: $black1;
                        @media screen and (max-width: 510px) {
                            font-size: 0.25rem;
                        }
                        @media screen and (max-width: 600px) {
                            font-size: 0.35rem;
                        }
                        @media screen and (max-width: 800px) {
                            font-size: 0.55rem;
                        }
                    }
                    .price {
                        font-family: $font2;
                        color: $gold1;
                        letter-spacing: 1px;
                        margin-left: 15px;
                        @media screen and (max-width: 600px) {
                            font-size: 0.45rem;
                        }
                        @media screen and (max-width: 630px) {
                            margin-left: 0;
                        }
                        @media screen and (max-width: 800px) {
                            font-size: 0.55rem;
                        }
                    }
                }
                .left {
                    position: relative;
                    left: -500px;
                }
                .right {
                    position: relative;
                    left: 500px;
                }
                .animate {
                    translate: 500px;
                }
                .animate2 {
                    translate: -500px;
                }
            }
        }
    }
}